@import "tailwindcss";
@keyframes fadeInMove {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

#fadeIn {
    opacity: 0;
      transform: translateY(-10px);
      animation: fadeInMove 0.6s ease forwards;
}
    
:root {
    --Background: #220D23;
    --Primary: #EC2790;
    --Accent: #73174F;
    --Cloudy: #B98BA7;
    --White: #FFFFFF;
    --Correct: #22C55E;
    --Wrong: #F43F5E;
    --Partial: #F59E0B;
}